name: Verify branch
on:
  push
permissions:
  checks: write
jobs:
  mockup_build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        repository: xored/q7.quality.mockups
    - uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven
    - uses: stCarolas/setup-maven@v5
      with:
        maven-version: 3.9.9
    - run: mvn clean verify
    - name: Archive update site
      uses: actions/upload-artifact@v4
      with:
        if-no-files-found: error
        name: mockup_repository
        path: 'repository/target/repository/**'
  build:
    runs-on: ubuntu-latest
    needs: mockup_build
    container:
      image: basilevs/ubuntu-rcptt:3.7.1 
      env:
        DISPLAY: :1
    steps:
      - uses: actions/checkout@v4
      - uses: actions/cache@v4
        with:
          key: m2repository
          path: |
            /root/.m2/repository
      - name: Download Mockups
        uses: actions/download-artifact@v4
        with:
          name: mockup_repository
          path: mockup_repository
      - name: VNC
        run: vncserver $DISPLAY -localhost=1 -noxstartup -PasswordFile /root/.vnc/passwd
      - name: Build
        run: ./build.sh -DforceContextQualifier=`date '+%Y%M%d%H%M'` -DbuildUrl=file://`pwd` --errors --batch-mode --no-transfer-progress
      - name: Archive update site
        uses: actions/upload-artifact@v4
        with:
          if-no-files-found: error
          name: repository
          path: 'repository/rcptt/target/repository/**'
      - name: Publish Test Report
        uses: mikepenz/action-junit-report@v5
        if: always() # always run even if the previous step fails
        with:
          report_paths: '**/target/*-reports/*.xml'
          fail_on_failure: true
      - name: Archive Runner
        uses: actions/upload-artifact@v4
        with:
          if-no-files-found: error
          name: runner
          path: runner/product/target/products/org.eclipse.rcptt.runner.headless-linux.gtk.x86_64.zip
      - name: Archive IDE
        uses: actions/upload-artifact@v4
        with:
          if-no-files-found: error
          name: ide
          path: repository/full/target/products/org.eclipse.rcptt.platform.product-linux.gtk.x86_64.zip
  self_test:
    runs-on: ubuntu-latest
    needs: build
    container:
      image: basilevs/ubuntu-rcptt:3.7.1 
      env:
        DISPLAY: :1
    steps:
      - uses: actions/checkout@v4
      - name: VNC
        run: Xvnc $DISPLAY -PasswordFile /root/.vnc/passwd &
      - name: Download Runner
        uses: actions/download-artifact@v4
        with:
          name: runner
      - name: Download IDE
        uses: actions/download-artifact@v4
        with:
          name: ide
      - run: find . > list.txt
      - name: RCPTT Tests
        run: mvn clean verify --file rcpttTests -DexplicitRunner=`pwd`/org.eclipse.rcptt.runner.headless-linux.gtk.x86_64.zip -DrcpttPath=`pwd`/org.eclipse.rcptt.platform.product-linux.gtk.x86_64.zip -Dmockup_repository=file://`pwd`/mockup_repository --errors --batch-mode --no-transfer-progress
      - name: Publish Test Report
        uses: mikepenz/action-junit-report@v5
        if: always() # always run even if the previous step fails
        with:
          report_paths: '**/target/*-reports/*.xml'
          fail_on_failure: true
      - name: Archive results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          if-no-files-found: error
          name: self_results
          path: |
            list.txt
            rcpttTests/target/results/**
            rcpttTests/target/surefire-reports/**
            rcpttTests/target/**/*log
            rcpttTests/target/**/*.info
            rcpttTests/target/**/*.ini
            **/*.hrpof
  mockup_test:
    runs-on: ubuntu-latest
    needs: build
    container:
      image: basilevs/ubuntu-rcptt:3.7.1 
      env:
        DISPLAY: :1
    steps:
      - uses: actions/checkout@v4
        with:
          repository: xored/q7.quality.mockups
      - uses: actions/cache@v4
        with:
          key: mockups_maven
          path: |
            /root/.m2/repository
      - name: VNC
        run: Xvnc $DISPLAY -PasswordFile /root/.vnc/passwd &
      - name: Download Runner
        uses: actions/download-artifact@v4
        with:
          name: runner
      - name: Download Mockups
        uses: actions/download-artifact@v4
        with:
          name: mockup_repository
          path: repository/target/repository/
      - run: find . > list.txt
      - name: RCPTT Tests
        run: mvn clean verify --file rcpttTests -DexplicitRunner=`pwd`/org.eclipse.rcptt.runner.headless-linux.gtk.x86_64.zip -DmockupsRepository=file://`pwd`/repository/target/repository  --errors --batch-mode --no-transfer-progress
      - name: Archive results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          if-no-files-found: error
          name: mockup_results
          path: |
            list.txt
            rcpttTests/target/results/**
            rcpttTests/target/surefire-reports/**
            rcpttTests/target/**/*log
            rcpttTests/target/**/*.info
            rcpttTests/target/**/*.ini
            **/*.hrpof
